<div class="content">
    <h1>Qui sommes nous?</h1>
    <hr>
    <p>
        Le GAEC SEGUIN est une ferme familiale de cultures assez typique pour la région. A côté des fameuses pommes de
        terre, nous cultivons du blé, de l’orge, du colza, du soja, du tournesol, ainsi que du miscanthus.</p>
    <hr>
    <p>
        Nous sommes agriculteurs depuis des générations à Saint Aubin, en plein cœur du Finage,
        cette petite région du Bas-Jura connue pour son relief plat et ses terres profondes.</p>
    <hr>
    <img src="static/img/gaec_seguin.jpg" class="img-responsive img-thumbnail">
</div>