<div class="content">
    <h1>Commande</h1>
    <hr>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p> Vous pouvez directement réserver ici : </p>
            <div class="col-sm-12">
                <form name="orderForm">
                <div class="row form-group">
                    <div class="col-xs-6">
                        <input type="text" name="lastName" class="form-control" ng-model="order.lastName" placeholder="Nom" required>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" name="firstName" class="form-control" ng-model="order.firstName" placeholder="Prénom" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-7">
                        <input type="email" name="email" class="form-control" ng-model="order.email" placeholder="Email" required>
                    </div>
                    <div class="col-xs-5">
                        <input type="text" name="phone" class="form-control" ng-model="order.phone" placeholder="Téléphone" required>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="price in prices">
                        <td>{{ price.type }}</td>
                        <td>{{ price.size }}</td>
                        <td>{{ price.price }} &euro;</td>
                    </tr>
                    </tbody>
                </table>

                <div class="col-xs-4 col-xs-offset-6">
                    Prix total
                </div>
                <div class="col-xs-2">
                    <p>
                        <span id="computed-price">Truc</span>
                    </p>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12">
                        <textarea class="form-control" name="comments" ng-model="order.comments" placeholder="Autres informations"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-8">
                        <p style="color: red;" ng-show="!orderForm.$valid">Merci de remplir tous les champs!</p>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-default pull-right" ng-disabled="!orderForm.$valid" ng-click="clickBuy()">Commander</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <p>{{ orderMessage }}</p>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>