<div class="content">
    <h3>Où nous trouver?</h3>
    <hr>

    <p>
        Vous pouvez nous contacter dès le printemps par mail pour réserver vos pommes de terre avant la récolte. Pendant
        la période de vente, vous pouvez vous rendre directement sur notre exploitation aux horaires de présence, qui
        sont fixés chaque semaine et sont affichés à l’entrée de la ferme.
        </p>
    <hr>
    <p>
        GAEC SEGUIN<br>
        Claude et Edouard Seguin<br>
        1, rue du Fragnot<br>
        39 410 Saint-Aubin<br>
        Tél  : 03 84 70 05 84<br>
        Port : 06 64 18 56 21<br>
        <a HREF="mailto:edouard_seguin@yahoo.fr">edouard_seguin@yahoo.fr</a>
    </p>

    <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyDtw-sWJLWrttslGYDjP6IGv1BgBYjd3O4">
        <ng-map center="47.0238843,5.3373743" zoom="16" scrollWheel="false">
            <street-view-panorama container="streetview" pov="{pitch: 0, heading: 220}">
            </street-view-panorama>
        </ng-map>
    </div>

    <div id="streetview" style="height: 400px"></div>

</div>