<div class="content">
    <h1>La culture des patates</h1>
    <hr>
    <div class="row">
        <div class="col-sm-5">
    <p>
        La culture de la pomme de terre chez nous nécessite le plus grand soin.
    </p>
    <p>
        Il faut commencer par choisir, chaque année, la parcelle de terre la plus adaptée pour implanter la culture. Il faut une
        terre pas trop argileuse, mais pas trop légère non plus afin de garantir la meilleure qualité. Nos pommes de terre
        ne reviennent sur la même parcelle qu’une fois tous les 6 ans maximum, afin de limiter les maladies du sol et les ravageurs.
    </p>
        </div>
        <div class="col-sm-7">
            <img src="static/img/culture1.jpg" class="img-responsive img-thumbnail">
        </div>
    </div>
    <hr>
    <p>
    La culture commence par une préparation soignée du sol (labour + affinage). Ensuite la plantation se déroule en
        général entre fin mars et fin avril. Au mois de mai, nous « buttons » les pommes de terre afin de les recouvrir
        de suffisamment de terre pour qu’elles puissent se développer et produire des tubercules. Une fois les pommes
        de terre sorties de leurs buttes, il faut surveiller les maladies notamment le redoutable mildiou,  ainsi que
        les insectes comme les doryphores ou les pucerons. Et surtout sous notre climat, il faut arroser afin de faire
        grossir les pommes de terre.
    </p>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <img src="static/img/culture2.jpg" class="img-responsive img-thumbnail">
        </div>
        <div class="col-sm-6">

    <p>
    La récolte intervient entre début août et fin septembre suivant les variétés. Dans nos terres, elle nécessite un
        important travail manuel sur la machine et à la ferme pour enlever les mottes, la terre collée aux pommes
        de terre ainsi que celles abîmées ou coupées. Mais c’est grâce à ce terroir difficile que nous pouvons vous
        proposer tous les ans de bonnes patates.
    </p>
</div>
        </div>
</div>