<div class="content">
    <h1>Bienvenue !</h1>
    <p>
        Vous êtes bien sur le site du GAEC Seguin à Saint-Aubin dans le Jura. N'hésitez pas à explorer nos informations
        sur <a ui-sref="about">l'exploitation</a> et <a ui-sref="culture">comment nous cultivons nos pommes de terre</a>.
        Egalement vous pourrez trouver des précisions sur <a ui-sref="variety">les variétés que nous produisons</a> ainsi
        que <a ui-sref="prices">leurs tarifs</a>.
        Et enfin si le coeur vous en dit n'hésitez pas à nous <a ui-sref="contact">contacter!</a>
    </p>
    <hr>
    <img src="static/img/accueil.jpg" class="img-responsive img-thumbnail">
</div>