<div class="content">
    <h1>Nos tarifs</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th class="col-xs-2">Disponibilité</th>
                </tr>
                </thead>
                <tbody id="price-table">

                </tbody>
            </table>
        </div>
    </div>

</div>