<div class="content">
    <h1>Nos tarifs</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th class="col-xs-2">Disponibilité</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="price in prices">
                    <td>{{ price.type }}</td>
                    <td>{{ price.size }}</td>
                    <td>{{ price.price }} &euro;</td>
                    <td ng-if="price.available"><span class="glyphicon glyphicon-ok" aria-hidden="true"/></td>
                    <td ng-if="!price.available"><span class="glyphicon glyphicon-remove" aria-hidden="true"/></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>