<div class="content">
    <h1>Nos tarifs</h1>
    <hr>
    Un petit tableau pour vous y retrouver…
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Utilisation en cuisine</th>
                    <th>Période de vente</th>
                    <th>Sac de 10Kg</th>
                    <th>Sac de 20Kg</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Maïwen (Jaune)</td>
                    <td>Chair tendre polyvalente</td>
                    <td>Août</td>
                    <td>6 &euro;</td>
                    <td>10 &euro;</td>
                </tr>
                <tr>
                    <td>Allians (Jaune)</td>
                    <td>Chair ferme polyvalente</td>
                    <td>Septembre-Décembre</td>
                    <td>6 &euro;</td>
                    <td>10 &euro;</td>
                </tr>
                <tr>
                    <td>Chérie (Rose)</td>
                    <td>Vapeur, salades, raclette…</td>
                    <td>Août-Septembre</td>
                    <td>6 &euro;</td>
                    <td>10 &euro;</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
