<div class="content">
    <h1>Les variétés</h1>
    <hr>
    <p>
        Nous cultivons trois variétés sur la ferme
    </p>
    <h2>AGATA</h2>
    <hr>
    <p>
        C’est la plus connue, mais pas la plus importante chez nous. Agata est une très belle pomme de terre bien ronde
        et bien régulière, avec une chair assez tendre idéale pour les purées, frites, gratins… D’un très bel aspect et
        souvent d’un beau calibre, elle a l’avantage d’être précoce, et nous vous la proposons dès le mois d’août sur la
        ferme. Elle se conserve aussi très bien à condition de la dégermer régulièrement, car c’est le point faible de
        l’Agata.
    </p>

    <div class="row">
        <div class="col-sm-4">
            <img src="static/img/cherie.jpg" class="img-responsive img-thumbnail">
            </div>

        <div class="col-sm-8">
            <h2>CHÉRIE</h2>
    <hr>
             <p>
        Chérie est une variété de pommes de terre de couleur rose. C’est une très bonne pomme de terre, à chair ferme,
        c’est-à-dire qu’elle convient bien pour faire des patates vapeur, salades, raclette… Les tubercules sont assez
        réguliers et pas très gros en général. Elle se récolte comme l’Agata au mois d’août. C’est une patate qui se
        conserve très bien.
    </p>
            </div>

        </div>

    <div class="row">
        <div class="col-sm-8">
            <h2>ALLIANS</h2>
    <hr>
    <p>
        Allians est la variété la plus cultivée sur notre ferme. Proche de la Charlotte, cette patate très jaune et
        plutôt ferme a un goût bien à elle qui séduit bon nombre de papilles. Polyvalente en cuisine, elle a en plus
        l’avantage de bien se conserver. Dans les champs, c’est une patate rustique mais qui demande du temps pour
        pousser, et qui n’est donc disponible à la vente qu’à partir du mois de septembre.
    </p>
            </div>
    <div class="col-sm-4">
            <img src="static/img/allians.jpg" class="img-responsive img-thumbnail">
            </div>
    </div>

</div>