
#masthead {
    min-height:180px;
    background: url("img/bg1.jpg");
    background-size: cover;
    background-color: #2666cc;
    margin-bottom: 40px;
}

#masthead h1 {
    font-size: 30px;
    line-height: 1;
    padding-top:20px;
    color: #FFF;
    text-shadow: -5px 0 15px #000;
}

#masthead #logo {
    margin-top:15%;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 50px;
    }
}

#sidebar li {
    font-size: 20px;
}

#sidebar li.active {
    border:1px #2666cc solid;
}

.content {
    border:2px solid #23527c;
    border-radius: 20px;
    padding: 30px;
}

#footer {
    text-align: center;
    background-color: #2666cc;
    margin-top: 20px;
    color: #FFF;
}

.ui-view-container {
    padding: 0;
    padding-bottom: 20px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}